@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');
/* font-family: 'Chango', cursive; */


h1 {
  color: #dc6b2e;
  font-family: 'Chango', cursive;
}

p {
  color: rgb(192, 192, 1);
}


/* Your board style here */
.racer-table {
  margin: auto;
}

.racer-table td {
  height: 100px;
  width: 100px;
  border: 1px solid lightgray;
}

.racer-table td.active {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

#player1-race td.active {
  background-image: url("./images/player_No1.png");
}

#player2-race td.active {
  background-image: url("./images/player_No2.png");
}

td:last-child {
  background-image: url(./images/finish.png);
  background-size: cover;
}

td:last-child.active {
  background-size: 100%, cover;
  background-position: center, top left;
}

#player1-race td:last-child.active {
  background-image: url(./images/player_No1.png), url('images/finish.png');
}

#player2-race td:last-child.active {
  background-image: url(./images/player_No2.png), url('images/finish.png');
}
